body {
	text-align: center;
	background-color: #9ea7ac;
}

.row {
	display: flex;
	justify-content: center;
}

.btn {
	background-color: #dd5b5b;
	padding: 10px 20px;
	border: none;
	font-size: 16px;
	margin: 10px 0;
	border-radius: 5px;
}

.col {
	width: 40px;
	height: 40px;
	margin: 2px;
	border: 2px solid #b8a7a7;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000000;
	font-size: 18px;
	font-weight: bolder;
}

.removeBg {
	background-color: #fff;
	border: 2px solid #000;
}

.noClick {
	pointer-events: none;
}

.mine {
	background-color: red;
	border-color: red;
}

.div {
	text-align: center;
}

input {
	height: 25px;
	width: 35px;
	margin: 0px 15px 0px 5px;
	text-align: center;
}